#search{
    position: fixed;
    left: 30%;
    top:0;
    width: 40%
}

.content{
    position:relative;
    z-index: -1;
    left:20%;
    top:0px;
    width: 60%;
    background-color: #FFFFFF
}
.post{
    position:relative;
    left:10%;
    top:30px;
    width: 80%;
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    border-radius: 10px
}
div span{
    float:right;
    color: #555555
}
a:visited {
    color: #FF0000;
}
a:link {
    color: #99FF99;
}